<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Evgeniya Zemlyanaya (@zzemlyanaya)
  ~ Copyright (c) 2021 . All rights reserved.
  ~ Last modified 22.07.2021, 11:57
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.zzemlyanaya.tfood">

    <application android:name=".domain.App">
        <activity
            android:name=".presentation.AppActivity"
            android:label="@string/title_activity_app"
            android:theme="@style/Theme.TFood.NoActionBar"></activity>
    </application>

</manifest>